
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" style="background-color:aliceblue; height:605px ">
                <h1 style="text-align:center; margin-top:80px; font-size:50px; font-weight:1000">Sign In</h1><br />
                <img src="~/Picture/732026 (1).jpg" height="50px" width="50px" style="margin-left:189px;" />
                <img src="~/Picture/ig.jpg" height="50px" width="50px" style="margin-left:35px" />
                <img src="~/Picture/facebook-social-media-fb-logo-square.jpg" height="50px" width="50px" style="margin-left:35px" /> <br />
                <form action="#" style="border:5PX solid#0387a8; border-radius:20px;margin-left: 20px; margin-top:50px">
                    <fieldset>
                        <legen><p style="text-align: center; font-size: 20px; font-weight: 700; color: #0387a8; margin-top: 10px">Donner</p></legen>
                        <label for="fname" style="margin-left:90px; font-size:20px; font-weight:700">TÊN ĐĂNG NHẬP</label>
                        <input type="text" style="margin-left:40px" id="fname" name="fname"><br><br>
                        <label for="lname" style="margin-left: 90px; font-size: 20px; font-weight: 700 ">MẬT KHẨU</label>
                        <input type="text" style="margin-left:99px" id="lname" name="lname"><br><br>
                        <a href="#" style="margin-left: 380px; text-decoration: none; ">Forgot your password ?</a>
                        <input type="button" style="margin-left:250px;padding: 10px; color:#0387a8;font-weight: 500" border="5px" value="Sign In">

                    </fieldset>
                    <br />
                </form>

               
            </div>
            <div class="col-lg-6" style="background-color: #0387a8; height: 605px">
                <p style="color:aliceblue;margin-top:200px;text-align:center; font-size:60px; font-weight:700">HELLO, FRIEND!</p>
                <p style="color: aliceblue;text-align:center; font-size: 30px; font-weight: 500">
                    Enter your personal information and start your journey with us
                </p>
                <input type="button" style="margin-left: 440px;padding: 10px; color:#0387a8; font-weight: 500" border="5px" value="Sign Up">
            </div>


        </div>


    </div>


</body>
</html>
