@using Website_Clothes.Models
@model List<CATEGORY>


   
    <div class="list-group">
        <a href="#" style="background-color: #D6CDA4" class="list-group-item list-group-item-action active">
            Product Category
        </a>

        @{

            foreach (var item in Model)
            {
                <a href="@Url.Action("CateProduct","Product", new{ @mCate=item.MaLoai})" class="list-group-item list-group-item-action">@item.TenLoai</a>
            }
        }


    </div>
